.card {
    margin: 0px 10px 10px 0px;
    border-radius: 5px 5px 5px 5px;
    background: rgba(46, 49, 49, .7);
    height: auto;
    
}

.text-col {
    color: whitesmoke;
}

.score-board {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color:greenyellow;
}

#spacer {
    margin-left: 10px;
}

