.new-record {
    margin: 0px 10px 10px 0px;
    border-radius: 5px 5px 5px 5px;
    background: rgba(46, 49, 49, .7);
    height: auto;
    text-align: left;
    padding-left: 20px;
}

.custom-select {
    background: rgba(46, 49, 49, .7);
    color: whitesmoke;
    border: none; 
    margin-bottom: 10px;
    width: 120px;
    border: 1px solid whitesmoke;
}

.form-heading {
    margin: 10px 10px 10px 0px;
}

.form-submit {
    width: 200px;
    display: block;
    margin: 10px 0px 10px 16px
}


.form-group {
    margin-bottom: 0px ;
}