.body-wrap {
    margin-top: 40px 
}

.body-con {
    margin-top: none;
    border-radius: 5px 0px 5px 5px;
    background: rgba(46, 49, 49, .7);
    height: 80vh;
}

.clear-float {
    clear: left;
}

/* .sub-nav {
    /* border: 1px solid white; */
/* } */

.nav-user {
    float: left;
    margin-bottom: 2px;
    line-height: 0.9;
}

.nav-tabs {
    float: right;
    border-bottom: none;
}

.nav-btn {
    border-radius: 5px 5px 0px 0px;
    margin: 0px 0px 0px 2px;
    background: rgba(46, 49, 49, .7);
    color: whitesmoke;
}