.body-wrap {
    margin-top: 40px 
}

.body-con {
    margin-top: none;
    border-radius: 5px 0px 5px 5px;
    background: rgba(46, 49, 49, .7);
    box-shadow: 5px 10px 10px rgb(21, 32, 21);
    height: auto;
    padding: 10px 0px 0px 10px;
    overflow: hidden;
}

.clear-float {
    clear: left;
}

/* .sub-nav {
    /* border: 1px solid white; */
/* } */

.nav-user {
    float: left;
    margin-bottom: 2px;
    line-height: 0.9;
}

.nav-tabs {
    float: right;
    border-bottom: none;
}

#tab-1 {
    background: rgba(46, 49, 49, .7);
}

.nav-btn {
    border-radius: 5px 5px 0px 0px;
    margin: 0px 0px 0px 2px;
    background: rgba(46, 49, 49, .9);
    color: whitesmoke;
}

.nav-btn:hover {
    color:whitesmoke;
}

.card-con {
    overflow-y: auto;
    height: 79vh;
}
